[Unit]
Description=Button-triggered receipt photo printer
# Wait until the system is fully up and USB devices have enumerated
After=multi-user.target network-online.target

[Service]
Type=simple

User=dali

WorkingDirectory=/home/dali

# pull latest git changes
ExecStartPre=-/usr/bin/git -C /home/dali/Desktop/receipt-printer pull --ff-only
# sleep to warm up camera
ExecStartPre=/bin/sleep 3

# launch the application
ExecStart=/home/dali/Desktop/receipt-printer/.venv/bin/python /home/dali/Desktop/receipt-printer/receipt_photo.py


# Restart automatically if it crashes
Restart=on-failure
RestartSec=3

# send output to journal for debugging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

